Question 1

Identify the data type of the following values:

In [4]:
type(99.9)

float

In [5]:
type("False")

str

In [6]:
type(False)

bool

In [7]:
type('0')

str

In [8]:
type(0)

int

In [9]:
type(True)

bool

In [10]:
type('True')

str

In [11]:
type([{}])

list

In [12]:
type({'a':[]})

dict

Question 2

What data type would best represent the following?

In [13]:
# A term or phrase typed into a search box
# String

# Whether or not a user is logged in
# Boolean

# A discount amount to apply to a user's shopping cart
# Float

#Whether or not a coupon code is valid
# Boolean

#An email address typed into a registration form
#String

#The price of a product
#Float

#The email addresses collected from a registration form
#List

#Information about applicants to Codeup's data science program
#Dictionary

Question 3

Read the expression and predict the evaluated results

Execute the expression in a python repl

In [14]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [18]:
6 % 4

2

In [19]:
type(6 % 4)

int

In [20]:
type(type(6 % 4))

type

In [21]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [22]:
0 < 0

False

In [23]:
'False' == False

False

In [24]:
True == 'True'

False

In [25]:
5 >= -5

True

In [26]:
True or "42"

True

In [27]:
6 % 5

1

In [28]:
5 < 4 and 1 == 1

False

In [29]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [30]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [31]:
6 % 3 == 0

True

In [32]:
5 % 2 != 0

True

In [33]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [34]:
[1] + [2]

[1, 2]

In [35]:
[1] * 2

[1, 1]

In [36]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [37]:
[] + [] == []

True

In [38]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Describe the following scenarios. You will need to create and assign variables and use operators.

4. You have rented some movies for your kids:

The Little Mermaid for 3 days

Brother Bear for 5 days

Hercules for 1 day

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [5]:
x = 3
little_mermaid = 3
brother_bear = 5
hercules = 1

In [6]:
total_cost = (x * little_mermaid) + (x * brother_bear) + (x * hercules)
print(total_cost)

27

5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars

Amazon: 380 dollars

Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.

How much will you receive in payment for this week?

In [9]:
google_rate = 400
amazon_rate = 380
facebook_rate = 350

google_hours = 6
amazon_hours = 4
facebook_hours = 10

In [10]:
total_pay = (google_rate * google_hours) + (amazon_rate * amazon_hours) + (facebook_rate * facebook_hours)
print(total_pay)

7420

6. A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [11]:
class_not_full = True
no_schedule_conflict = True
enrolled = class_not_full and no_schedule_conflict
print(enrolled)

True

7. A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [12]:
more_than_two = True
not_expired = True
premium_member = True
apply_offer = not_expired and (more_than_two or premium_member)
print(apply_offer)

True

8. Use the following code to follow the instructions below:

In [4]:
username = 'codeup'
password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following conditions:

In [5]:
# The password must be at least 5 characters
password_lenght = len("password") >= 5
print(password_lenght)

True

In [6]:
# The username must be no more than 20 characters
username_lenght = len("username") <=20
print(username_lenght)

True

In [7]:
# The password must not be the same as the username
diff_password_username = "password" != "username"
print(diff_password_username)

True

In [10]:
# Bonus Neither the username or password can start nor end with whitespace
whitespace_password = len(password) == len(password.strip())
whitespace_username = len(username) == len(username.strip())

In [11]:
whitespace_password and whitespace_username

True

In [12]:
password_lenght and username_lenght and whitespace_password and whitespace_username

True